body, html{
    font-family: 'Open Sans', 'Verdana', sans-serif;
    margin: 0;
}

#playlists{
    position: fixed;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    top: 0;
    bottom: 0;
    left: 0;

    width: 100vw;

    overflow: auto;
}

#playlists > div{
    margin: 10px;
    padding: 10px;
    background-color: #EEE;
    border-radius: 3px;
    box-shadow: 0 0 4px black;
}

#playlists > div > h2{
    text-align: center;
}

#playlists .videos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#playlists .videos div{
    margin: 10px;
    padding: 10px;
    background-color: #DDD;
    box-shadow: 0 0 4px black;
    border-radius: 3px;

    height: auto;
    width: 400px;

    display: flex;
    flex-direction: column;

    cursor: pointer;
}

#playlists .videos div:hover{
    background-color: #F0F0F0;
}

#playlists .videos div > img{
    margin: 10px;

    min-width: calc(100% - 20px);
    max-width: calc(100px);

    height: auto;

}


#player{
    position: fixed;


    top: 0;
    bottom: 0;
    left: 100vw;

    width: 100vw;

    overflow: auto;
}

#player-container{
    position: absolute;
    top: 0;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    left: 0;
    right: 300px;
}

#back-button{
    position: absolute;

    top: 0;
    left: 0;

    height: 50px;
    width: 50px;

    text-align: center;

    margin: 50px;

    font-size: 280%;
    font-weight: 500;
    line-height: 50px;

    background-color: #DDD;
    border-radius: 25px;

    box-shadow: 0 0 4px black;

    cursor: pointer;
}

#back-button:hover{
    background-color: #EFEFEF;
}

#player iframe{
    border: none;
    width: 500px;
    height: 400px;

    background-color: black;
    box-shadow: 0 0 4px black;
}

#playlist{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    width: 300px;

    background-color: #DDD;
    box-shadow: 0 0 4px black;

    padding: 10px;

    overflow-y: auto;

    display:flex;
    flex-flow: column nowrap;

}

#playlist > h3{
    text-align: center;
}

#playlist > div{
    border: 1px solid grey;
    box-shadow: 0 0 4px black;
    margin: 10px;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    cursor: pointer;

    flex: none;
}

#playlist > div.active, #playlist > div:hover{
    background-color: #EEE;
}

#playlist > div > img{
    width: auto;
    height: 50px;

    margin-right: 5px;

}
